body{
	margin: 0;
	padding: 0;
}
.solved{
	visibility: hidden !important;
}
.card{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid black;
	box-sizing: border-box;
	color: transparent;
	display: inline-block;
	font: normal normal normal 20px "Raleway";
	height: 200px;
	margin: 5px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s, visibility 1s;
	visibility: visible;
	width: 150px;
	
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #f5f5f5;
	color: black;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	
}
.back{
	font-size: 100px;
	transform: rotateY(180deg);
}
.front{
	transform: rotateY(0deg);
	z-index: 2;
}
.card.selected{
	transform: rotateY(180deg);
}
.game-container{
	margin: auto;
	perspective: 1000px;
	width: 981px;
}
.notification-area{
	align-content: center;
	align-items: center;
	border: 1px solid black;
	display: flex;
	font: normal normal normal 18px "Open Sans";
	height: 200px;
	justify-content: center;
	margin: 20px 0;
}
.front-word{
	display: block;
	height: calc(100% - 20px);
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
	text-align: left;
	width: calc(100% - 20px);
}
.front-word.flipped{
	transform: rotate(180deg);
}
.win-message{
	font-family: 'Raleway', sans-serif;
	font-size: 380px;
	font-weight: 900;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
